@import 'tailwindcss/base';

@import 'common/global';

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'comments';

.main-layout-content {
  h1 {
    @apply text-4xl
  }
  h2 {
    @apply text-3xl
  }
  @apply py-8 ml-4 sm:ml-12 md:ml-16 mr-4 lg:mr-12 xl:mr-20
  prose xl:prose-lg break-words font-sans
}

aside.sidebar {
  a {
    @apply hover:text-scgold-100
  }
  @apply flex-auto bg-gradient-to-r from-scblue-800 to-scblue py-8 px-4 sm:px-12 lg:px-4 xl:px-8 2xl:px-12
  text-scgold-500 break-words font-serif
}

main.main-layout-content {
  @apply flex-none lg:max-w-lg xl:max-w-xl 2xl:max-w-2xl
}

section.widget {
  div.stateless-sage-sidebar-top-level {
    @apply relative px-4 py-10 bg-white shadow-lg z-10
    sm:rounded-3xl sm:p-10 sm:mx-8 sm:my-16 sm:inset-4 sm:border-8 sm:border-opacity-0
    lg:rounded-3xl lg:px-4 lg:mx-0 lg:my-12 lg:inset-0 lg:border-0 lg:border-opacity-0
    xl:rounded-3xl xl:my-16 xl:inset-4 xl:border-8 xl:border-opacity-0
    2xl:rounded-3xl 2xl:px-10 2xl:mx-8 2xl:my-16 2xl:inset-4 2xl:border-8 2xl:border-opacity-0
  }
  h2 {
    @apply text-scseafoam-900 font-sans text-lg pb-2
  }
  div.wp-block-group__inner-container {
    a {
      @apply hover:text-scpink-600
    }
    div.wp-block-group, ul.wp-block-latest-posts, ol.wp-block-latest-comments {
      @apply my-3 text-scbluegray-900
    }
    li {
      @apply break-words max-w-prose lg:max-w-xs xl:max-w-xs 2xl:max-w-lg
    }
    @apply lg:text-sm
  }
  @apply relative my-8
}

.stateless-sage-sidebar-emptydiv {
  @apply absolute inset-0 bg-gradient-to-r from-scgold-800 to-scgold-500 shadow-lg
  z-0 transform -skew-y-6
  sm:skew-y-0 sm:-rotate-3 sm:rounded-3xl
  lg:skew-y-6 lg:rotate-0 lg:rounded-xl
  xl:skew-y-0 xl:-rotate-2 xl:rounded-2xl
  2xl:skew-y-0 2xl:-rotate-3 2xl:rounded-3xl
}

.site-footer {
  @apply  bg-gradient-to-br from-scseafoam-500 to-scseafoam-800 text-scbluegray-50
  py-8 px-4 sm:px-12
}

.footer-text-link {
  @apply text-scgold-100 hover:text-scgold-600
}
